<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kosi0917.textandfacerecognitionapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FBActivities.FacebookLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InstagramActivities.InstagramLogin"/>
        <activity android:name=".InstagramActivities.FeedActivity"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".FBActivities.FacebookNewsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".FBActivities.FacebookImgNewsActivity"
         />
        <activity android:name=".ProfileActivity"
                  android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider2023742747897963"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>

</manifest>