<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kosi0917.textandfacerecognitionapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Application.Application"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Activity.FBActivities.FacebookLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activity.InstagramActivities.InstagramLogin"/>
        <activity android:name=".ui.Activity.InstagramActivities.FeedActivity"/>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".ui.Activity.FBActivities.FacebookNewsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".ui.Activity.FBActivities.FacebookImgNewsActivity"
         />


        <activity android:name=".ui.Activity.VKLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <activity
            android:name="com.kosi0917.textandfacerecognitionapp.ui.Activity.CreatePostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


        <!--<activity android:name=".ui.Activity.VKProfileActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <!--/>-->
        <activity android:name=".ImagesAnalyzer.ImageActivities.ImageActivity"/>



        <activity android:name=".ProfileActivity"
                  android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            />

        <activity android:name="com.vk.sdk.VKServiceActivity" android:label="ServiceActivity" android:theme="@style/VK.Transparent" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider2023742747897963"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>

</manifest>